body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
}

.math-content {
    font-family: 'Source Code Pro', monospace;
}

.fantasy-content {
    font-family: 'Tangerine', serif;
    font-size: 2rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

button {
    margin: 0.5rem;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}
@media (max-width: 768px) {
  .scratch-iframe-container {
    padding: 10px;
  }
}

@media screen and (orientation: portrait) {
  .scratch-container {
    padding-top: 10%; /* Adjust for 4:3 aspect ratio in portrait mode */
  }
}
